<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jobbr</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor.bundle.js') }}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>